@media(max-width: 576px) {
    .title {
        font-size: 60px;
    }

    .subtitle {
        font-size: 30px
    }

    .txtAndImg {
        flex-direction: column-reverse;
    }

    #content_text {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .content_img {
        width: 100%;
    }

    #pic_container {
        width: 45%;
    }

    .logo {
        text-align: center;
        width: 90%;
    }

    #project_1 {
        flex-direction: column;
    }

    .project_1_img, .project_2_img {
        width: 100%;
    }

    .project_1_txt, .project_2_txt{
        width: 100%;
        padding-top: 60px;
    }

    #project_2 {
        flex-direction: column-reverse;
    }

    .contact-text {
        font-size: 60px;
    }

    .contact-link {
        font-size: 50px;
    }
} 

@media(max-width: 430px) {

    .title {
        font-size: 45px;
    }

    .console-container {
        font-size: 3em;
    }
}