@charset "utf-8";

/* Animation */

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
	visibility: hidden;
	opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
    }
    }
    @keyframes slideInLeft {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
	visibility: hidden;
	opacity: 0;
    }
    100% {
    -webkit-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
    }
}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	opacity: 0;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}
	}
	@keyframes slideInUp {
	0% {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	visibility: visible;
	opacity: 0;
	}
	100% {
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	}
}

.zoomIn
{
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	50% {
	opacity: 1;
	}
	}
	@keyframes zoomIn {
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	50% {
	opacity: 1;
	}
	} 



/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}
body
{
	line-height: 1;
	width: 100%;
	font-family: 'Questrial', sans-serif;
}
ol, ul
{
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

ul
{
	list-style: none;
}

a:link {
	text-decoration: none;
}

html
{
	scroll-behavior: smooth;
}

/* End Reset */
.parallax-window {
    min-height: 400px;
    height: 100vh;
	background: transparent;
	margin-bottom: 100px;
}

.title
{
    color: rgb(255, 251, 255);
    font-size: 100px;
	text-transform: uppercase;
	filter: drop-shadow(2px 4px 6px black);
}

.subtitle
{
	color: rgb(255, 251, 255);
    font-size: 70px;
	padding-top: 30px;
	animation: zoomIn 2.5s ease;
	filter: drop-shadow(2px 4px 6px black);
}

header {
    display: flex;
    justify-content: center;
}
.navbar
{
	display: flex;
	justify-content: space-around;
	position: fixed;
	z-index: 2;
	width: 75%;
    align-items: center;
    animation: slideInDown 2.5s ;	
}

.navbar a {
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 30px;
	font-weight: 600;
}

.mobile-menu {
    display: none;
  }


.content_wrapper {
    display: flex;
    width: 100%;
	height: 100vh;
	flex-direction: column;
    justify-content: center;
    align-items: center;

}

.page_container {
	width: 100%;
}

.content_about {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	justify-content: center;
	margin-bottom: 180px;
	
}

.AboutContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	align-items: center;
}

.txtAndImg {
	width: 100%;
	display: flex;
	flex-direction: row;
}


.content_text {
	width: 50%;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo {
	width: 70%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.logo a {
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #232933;

}

.logo svg {
	margin-right: 10px;
	width: 20px;
}

.text_about {
    font-size: 25px;
    color: #232933;
    width: 70%;
	line-height: 50px;
	text-align: justify;
}

.content_img {
	width: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
}

.RCC {
	font-weight: 700;
	color: #6084A0;
}

.pic_container {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pic_container img {
    width: 100%;
    filter: grayscale(0.6);
    border-radius: 5px;
}

.content_project {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 180px;
}


.project_1 {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin-top: 100px;
}

.project_1_img {
	width: 50%;
	height: 70%
}

.project_1_img img {
	width: 100%;
	
}

.project_1_txt {
	width: 50%;
    display: flex;
    justify-content: center;
	align-items: center;
}

.project_1_txtAll {
	width: 50%;
	
}

.p1Title {
	font-size: 18px;
    font-weight: 600;
}

.p1about {
    font-size: 40px;
    margin: 20px 0 20px 0;
}

.p1Go a {
	font-size: 18px;
	color: #B3C4D0;
	text-decoration: underline #B3C4D0;
}

.project_2, .project_3 {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-top: 180px;
}

.project_2_img {
	width: 50%;
	height: 70%;
}

.project_2_img img {
	width: 100%;
}

.project_2_txt {
	width: 50%;
    display: flex;
    justify-content: center;
	align-items: center;
}

.project_2_txtAll {
	width: 50%;	
}

.p2Title {
	font-size: 18px;
    font-weight: 600;
}

.p2about {
    font-size: 40px;
    margin: 20px 0 20px 0;
}

.p2Go a {
	font-size: 18px;
	color: #B3C4D0;
	text-decoration: underline #B3C4D0;
}

.console-container {
	font-size: 4em;
	color: white;

}

.console-underscore {
	display:inline-block;
   	position:relative;
   	top:-0.14em;
   	left:10px;
 }

 .skill_container {
	 width: 100%;
	 display: flex;
	 height: 100vh;
	 align-items: center;
	 justify-content: center;
	 background-image: url("img/img02.jpeg");
	 object-fit: cover;
	 background-position: center;
 }

.contact-Container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-content {
	text-align: center;
}

.contact-text {
	font-size: 100px;
	color: #232933;
}

.contact-link {
	font-size: 80px;
	color: #232933;	
}

.contact-link:hover {
	color: #7B9EB5;
	text-decoration: underline #7B9EB5;
}

footer
{
	width: 100%;
	height: 20px;
	border-top: 1px solid #141136;
}

.copyright
{
	color: #232933;
	text-align: center;
	padding: 5px;

}

.HardSkill {
	font-size: 20px;
    color: #6084A0;
    width: 100%;
	text-align: center;
	padding-top: 50px;
}





