@media all and (max-width: 375px)
{
    .generate-sections-container.enable-parallax
    {
        background-position: center top !important;
    }

    .title
    {
        font-size: 60px;
    }

    .subtitle
    {
        font-size: 40px;
    }

    .content_about
    {
        flex-direction: column-reverse;
        align-items: center;
    }

    .pimg1
    {
        height: 600px;
    }
    
    .text_about
    {
        width: 80%;
    }

    .title_about
    {
        font-size: 30px;
        padding-top: 30px;
    }

    .img_about
    {
        width: 80%;
        padding-top: 30px;
    }

    .subtitle_about
    {
        font-size: 15px;
        padding: 20px 0 20px 0;
    }

    .skills .skill
    {
        margin: 5px;
        padding: 5px 8px;

    }

    .skills .skill .Name
    {
        text-align: left;
        font-size: 15px;
        margin-top: 2px;
    }

    .skills .skill .percent
    {
        width: 90%;
        height: 10px;
        margin-top: 2px;
    }

    .allskills
    {
        padding-bottom: 30px;
        width: 90%;
    }

    .otherSkill
    {
        width: 90%;
    }

    .skillLogo
    {
        display: flex;
        justify-content: space-around;
        padding: 10px;

    }

    .skillLogo svg
    {
        margin: 0 5px
    }

    .form-contact
    {
        width: 90%;
    }

    .form-contact .formbtn
    {
        margin: 0;
    }

    .mailconfirm
    {
        font-size: 10px;
        margin: 0 0 20px 0;
        padding: 0;
    }

    .menu-nav li
    {
        font-size: 17px;
    }
}